# poetry lock
poetry.lock

# pyenv
.venv/
# sqlite
*.sqlite3

# python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.mypy_cache/
*.pytest_cache/
*.coverage
*.hypothesis/
*.tox/

# statifiles
staticfiles/

# env
.env